<div id="mail" class="page-layout carded left-sidebar">

    <div class="top-bg bg-primary"></div>

    <div class="page-content-wrapper">

        <aside class="page-sidebar" data-fuse-bar="mail-sidebar" data-fuse-bar-media-step="md">
            <!-- HEADER -->
            <div class="header d-flex flex-column justify-content-between p-6 bg-primary text-auto">

                <div class="logo d-flex align-items-center pt-7">
                    <i class="icon-email mr-4"></i>
                    <span class="logo-text h4">Mailbox</span>
                </div>

                <div class="account">
                    <div class="title">John Doe</div>
                </div>

            </div>
            <!-- / HEADER -->

            <div>

                <div class="p-6">
                    <button type="button" class="btn btn-primary btn-block">COMPOSE</button>
                </div>

                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link ripple" href="#">
                            <i class="icon s-4 icon-inbox"></i>
                            <span>Inbox</span>
                        </a>
                    </li>











                    <li class="nav-item">
                        <a class="nav-link ripple" href="#">
                            <i class="icon s-4 icon-label"></i>
                            <span>Important</span>
                        </a>
                    </li>

                    <li class="subheader">
                        Labels
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple" href="#">
                            <i class="icon s-4 icon-label"></i>
                            <span>Notes</span>
                        </a>
                    </li>







                </ul>
            </div>
        </aside>

        <!-- CONTENT -->
        <div class="page-content">
            <!-- HEADER -->
            <div class="header d-flex flex-column justify-content-center bg-primary text-auto">

                <div class="search-bar row align-items-center no-gutters bg-white text-auto">

                    <button type="button" class="sidebar-toggle-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="mail-sidebar">
                        <i class="icon icon-menu"></i>
                    </button>

                    <i class="icon-magnify s-6 mx-4"></i>

                    <input class="search-bar-input col" type="text" placeholder="Search for an e-mail or contact">

                </div>
            </div>
            <!-- / HEADER -->

            <div class="page-content-card">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar row no-gutters align-items-center p-4 p-sm-6">

                    <div class="col">

                        <div class="row no-gutters align-items-center">

                            <div class="col-auto">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>

                            </div>

                            <div class="action-buttons col">

                                <div class="row no-gutters align-items-center flex-nowrap d-none d-xl-flex">

                                    <div class="divider-vertical"></div>

                                    <button type="button" class="btn btn-icon" aria-label="archive">
                                        <i class="icon icon-archive"></i>
                                    </button>

                                    <button type="button" class="btn btn-icon" aria-label="spam">
                                        <i class="icon icon-alert-octagon"></i>
                                    </button>

                                    <button type="button" class="btn btn-icon" aria-label="delete">
                                        <i class="icon icon-delete"></i>
                                    </button>

                                    <div class="divider-vertical"></div>

                                    <button type="button" class="btn btn-icon" aria-label="move to">
                                        <i class="icon icon-folder"></i>
                                    </button>

                                    <button type="button" class="btn btn-icon" aria-label="labels">
                                        <i class="icon icon-label"></i>
                                    </button>

                                    <button type="button" class="btn btn-icon" aria-label="move to">
                                        <i class="icon icon-folder"></i>
                                    </button>

                                    <div class="divider-vertical"></div>

                                    <button type="button" class="btn btn-icon" aria-label="more">
                                        <i class="icon icon-dots-vertical"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">

                        <div class="row no-gutters align-items-center">

                            <span class="page-info px-2 d-none d-sm-block">1 - 100 of 980</span>

                            <button type="button" class="btn btn-icon">
                                <i class="icon icon-chevron-left"></i>
                            </button>

                            <button type="button" class="btn btn-icon">
                                <i class="icon icon-chevron-right"></i>
                            </button>

                            <button type="button" class="btn btn-icon">
                                <i class="icon icon-settings"></i>
                            </button>

                        </div>
                    </div>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <div class="thread-list">

                    <div class="thread ripple row no-gutters flex-wrap flex-sm-nowrap align-items-center py-2 px-3 py-sm-4 px-sm-6 unread">

                        <label class="col-auto custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>

                        <div class="info col px-4">

                            <div class="name row no-gutters align-items-center">

                                <img class="avatar mr-2" alt="Alice Freeman" src="../assets/images/avatars/alice.jpg">

                                <span class="">Alice Freeman</span>

                                <i class="icon-paperclip has-attachment s-4"></i>

                            </div>

                            <div class="subject">
                                Commits that need to be pushed lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </div>

                            <div class="message">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                                    lorem diam,...

                                </p><div class="labels">

                                <div class="label badge badge-default" style="background-color:#607D8B;">
                                    paypal
                                </div>

                            </div>

                            </div>

                        </div>

                        <div class="col-12 col-sm-auto d-flex flex-sm-column justify-content-center align-items-center">

                            <div class="time mb-2">28 Jun</div>

                            <div class="actions row no-gutters">

                                <button type="button" class="btn btn-icon">

                                    <i class="icon-star-outline"></i>

                                </button>

                                <button type="button" class="btn btn-icon">

                                    <i class="icon-label"></i>

                                </button>

                            </div>
                        </div>
                    </div>





























                    <div class="thread ripple row no-gutters flex-wrap flex-sm-nowrap align-items-center py-2 px-3 py-sm-4 px-sm-6 ">

                        <label class="col-auto custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>

                        <div class="info col px-4">

                            <div class="name row no-gutters align-items-center">

                                <div class="avatar mr-2">
                                    D
                                </div>

                                <span class="">David Butler</span>

                                <i class="icon-paperclip has-attachment s-4"></i>

                            </div>

                            <div class="subject">
                                Commits that need to be pushed lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </div>

                            <div class="message">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                                    lorem diam,...

                                </p><div class="labels">

                            </div>

                            </div>

                        </div>

                        <div class="col-12 col-sm-auto d-flex flex-sm-column justify-content-center align-items-center">

                            <div class="time mb-2">7 May</div>

                            <div class="actions row no-gutters">

                                <button type="button" class="btn btn-icon">

                                    <i class="icon-star-outline"></i>

                                </button>

                                <button type="button" class="btn btn-icon">

                                    <i class="icon-label-outline"></i>

                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- / CONTENT -->

    </div>
</div>