<simple-notifications [options]="options" style="z-index:9999"></simple-notifications>
<div class="page-layout carded full-width">
    <div class="top-bg"></div>
    <!-- CONTENT -->
    <div class="page-content">

        <!-- HEADER -->
        <div class="header text-auto row no-gutters align-items-center justify-content-between">

            <!-- APP TITLE -->
            <div class="col-12 col-sm">

                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Liste marques</div>
                        <div class="">Total marques: {{brandCount}}</div>
                    </div>
                </div>

            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="col search-wrapper px-2">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-icon">
                            <i class="icon icon-magnify"></i>
                        </button>
                    </span>
                    <input [(ngModel)]="textFilter" type="text" (keyup)="filterBrands($event)" class="form-control" placeholder="rechercher" aria-label="Search">
                </div>

            </div>
            <!-- / SEARCH -->

            <div class="col-auto">
                <a [routerLink]="['/marques/enregistrer/0']" class="btn btn-secondary">Ajouter une nouvelle</a>
            </div>

        </div>
        <!-- / HEADER -->
        <div class="page-content-card">

            <table id="e-commerce-products-table" class="table table-responsive">
                <thead>
                <tr>
                    <th>
                        <div class="table-header">
                            <span class="column-title">ID</span>
                        </div>
                    </th>

                    <th>
                        <div class="table-header">
                            <span class="column-title">MARQUE</span>
                        </div>
                    </th>
                    <th>
                        <div class="table-header">
                            <span class="column-title"></span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let brand of filtredBrands">
                    <td>{{brand.id}}</td>
                    <td>{{brand.name}}</td>
                    <td>
                        <a [routerLink]="['/marques/modifier/',brand.id]" class="btn btn-icon" title="Modifier la marque">
                            <i class="icon icon-pencil s-4"></i>
                        </a>
                        <a class="btn btn-icon btn-sm" title="Supprimer la marque" (click)="removeBrand($event,brand)">
                            <i class="icon icon-trash s-4"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- / CONTENT -->
</div>